@import "tailwindcss";

@theme {
  --color-primary-50: #faf5ff;
  --color-primary-100: #f3e8ff;
  --color-primary-500: #a855f7;
  --color-primary-600: #9333ea;
  --color-primary-900: #581c87;
  
  --color-accent: #f43f5e;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #0f172a;
  color: #f8fafc;
  margin: 0;
  padding: 0;
}
